<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
		<link rel="icon" href="/assets/logo.png" type="image/png">
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css"
		>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
		>
		<meta name="htmx-config" content='{"selfRequestsOnly":false}'>
		<script src="https://unpkg.com/htmx.org@2.0.4"></script>	
		<script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.2.4/nunjucks.min.js"></script>
	
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
		<script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
	
		<title>Editor for VerifyIt!</title>
		<style>
			.hidden {
				display: none;
			}
			tbody > tr:hover {
				filter: brightness(80%);
			}
		</style>
  </head>
  <body class="pico-background-sand-50">
    <header class="container-fluid">
			<nav>
				<ul>
					<img src="assets/logo.png" alt="VerifyitLogo" style="height:3rem">
					<li>
						<h3 style="color: #2E6099; margin-top:0.3rem">VerifyIt!</h3>
					</li>
				</ul>
				<ul id="main-menu" class="hidden">
					<li><a href="#" class="contrast">Question</a></li>
					<li><a href="#" class="contrast" hx-get="source-list.html" hx-target="#main" hx-swap="innerhtml">Source</a></li>
					<div id="manager-menu" class="hidden">
						<li><a href="#" class="contrast">Author</a></li>
						<li><a href="#" class="contrast">Passcode</a></li>
						<li><a href="#" class="contrast">Status</a></li>
						<li><a href="#" class="contrast">Topic</a></li>
					</div>
					<li><a href="#" class="contrast" onclick="signout()" hx-get="signin.html" hx-target="#main" hx-swap="innerhtml">Sign out</a></li>
				</ul>
			</nav>
    </header>
		<main id="main" class="container">
			<script>
				if (!sessionStorage.credentials) {
					htmx.ajax('get', 'signin.html', {target: 'main', swap: 'outerhtml'})
				}
				else {
					window.credentials = JSON.parse(atob(sessionStorage.credentials))
					console.log('onload credentials', credentials)
					htmx.removeClass(htmx.find('#main-menu'), 'hidden')
					if(credentials.is_manager) htmx.removeClass(htmx.find('#manager-menu'), 'hidden')
				}
			</script>
		</main>
</html>